# ---------------------------
# Archivos del sistema operativo
# ---------------------------
.DS_Store

# ---------------------------
# Control de versiones
# ---------------------------
.git/
.gitignore

# ---------------------------
# Docker y Compose
# ---------------------------
Dockerfile
Dockerfile*
docker-compose*
compose.y*ml

# ---------------------------
# Dependencias externas o artefactos
# ---------------------------
vendor/
charts/
*.dbmdl
*.jfm