@import url("./Dashboard.css");

:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
    --colorCafe: #8e705c;
    --colorWhite: #ffffff;
}


/* Section body */
.content__body {
    margin-left: 260px;
    margin-top: 70px;
    padding: 20px;
}

.body__titleheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleheader__producto .producto__titulo {
    font: 600 2rem var(--typografiaGeist);
    margin: 0 0 -0.7rem 0;
}

.titleheader__producto .producto__texto {
    font: 500 1.1rem var(--typografiaUrbanist);
}

.titleheader__btn {
    display: flex;
}

.titleheader__btn a {
    text-decoration: none;
    position: relative;
    left: 1.2rem;
    cursor: pointer;
    background-color: var(--colorCafe);
    color: var(--colorWhite);
    border-radius: 8px;
    border: none;
    padding: 1rem 1.5rem;
    font: 600 1rem var(--typografiaUrbanist);
    transition: background-color .5s ease;
}

.titleheader__btn a:hover {
    background-color: #7a5e4d;
}


.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 20px 0;
}

.report-card {
    border: 1px solid #f3f4f6;
    background-color: var(--colorWhite);
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 30px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.2s ease;
    cursor: pointer;
}

.report-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.icon-container {
    width: 60px;
    height: 60px;
    background: #f8f8f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.report-title {
    font: 600 1.2rem var(--typografiaGeist);
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.export-btn {
    background: #333;
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 4px;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.2s ease;
}

.export-btn:hover {
    background: #000;
}

.export-btn:active {
    transform: scale(0.98);
}

@media (max-width: 768px) {

    .dashboard-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
    }

    .report-card {
        padding: 25px;
    }

    .icon-container {
        width: 70px;
        height: 70px;
        font-size: 2rem;
    }

    .report-title {
        font-size: 1.1rem;
    }
}


.swal-title {
    font-family: 'Urbanist', sans-serif !important;
    font-weight: 600;
}

.swal-popup {
    font-family: 'Urbanist', sans-serif !important;
}