@import url("./login.css");

:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
    --colorCafe: #8e705c;
}


.form .formulario__subtitulo {
    width: 550px;
    font: 700 1.1rem var(--typografiaUrbanist);
    text-align: center;
    margin-left: 2rem;
    color: var(--colorLigth);
}

.form .formulario__btn {
    font: 700 1rem var(--typografiaUrbanist);
    background-color: var(--colorCafe);
    color: #fff;
    width: 100%;
    width: 550px;
    height: 55px;
    margin: -10px 10em 30px 0;
    border-radius: 8px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: background-color .7s ease;
}

.form .formulario__btn:hover{
    background-color: #7a5e4d;
}
