@import url("./login.css");

:root {
    --typografiaGeist: "Geist";
    --typografiaUrbanist: "Urbanist";
    --colorPrincipal: #f59e0b;
    --colorDark: #18181b;
    --colorLigth: #71717a;
    --colorCafe: #8e705c;
}


.form .formulario__subtitulo {
    width: 550px;
    font: 700 1.1rem var(--typografiaUrbanist);
    text-align: center;
    margin-left: 2rem;
    color: var(--colorLigth);
}

@media (max-width: 992px) {

    .form .formulario__title {
        font-size: 1.9rem;
    }

    .form .formulario__subtitulo {
        width: 90%;
        margin: 0 auto;
        font-size: 1rem;
    }
}

@media (max-width: 600px) {

    .form .formulario__title {
        font-size: 1.4rem;
        text-align: center;
        padding: 0 1rem;
    }

    .form .formulario__subtitulo {
        width: 100%;
        font-size: 0.95rem;
        margin: 1rem auto;
        padding: 0 1rem;
        text-align: center;
    }
}


.form .formulario__btn {
    font: 700 1rem var(--typografiaUrbanist);
    background-color: var(--colorCafe);
    color: #fff;
    width: 100%;
    height: 55px;
    margin: 0px 0 30px 0px;
    border-radius: 8px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    transition: background-color .7s ease;
}

.form .formulario__btn:hover {
    background-color: #7a5e4d;
}