@import url("./registro.css");

#sector-input {
    grid-column: 1 / -1;
}

/* Aplica al input */
#sector-input .custom-select-wrapper select {
    width: 100%;
    box-sizing: border-box;
}

.custom-sector {
    position: absolute;
    top: 50%;
    left: 95%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    font-size: 16px;
    color: #666;
    pointer-events: none;
}