<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../static/Css/DashboardPQRS.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <title>Dashboard PQRS || Costa de oro import</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="Gran Oferta de Vinos - Disfruta los mejores sabores">
    <meta property="og:description"
        content="Descubre una selección exclusiva de vinos premium con descuentos especiales.">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
</head>

<body>
    <div class="container__dashboard">

        <aside class="dashboard__sidebar">

            <figure class="sidebar__logo">
                <img src="../static/Assets/Img/logos/logoDashboardYPrincipal.webp" alt="Logo dashboard">
            </figure>

            <ul class="sidebar__menu">
                <li class="sidebar__item">
                    <i class="ri-home-4-line"></i>
                    <a href="Dashboard.html" class="sidebar__text">Panel De Control</a>
                </li>

                <p class="menu__title">Administracion De Tiendas</p>

                <li class="sidebar__item">
                    <i class="ri-shopping-cart-2-line"></i>
                    <a href="DashboardProducto.html" class="sidebar__text">Productos</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-list-unordered"></i>
                    <a href="DashboardCategoria.html" class="sidebar__text">Categorias</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-shopping-bag-4-line"></i>
                    <a href="DashboardCompra.html" class="sidebar__text">Compras</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-store-2-line"></i>
                    <a href="DashboardProvedores.html" class="sidebar__text">Provedores</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-group-line"></i>
                    <a href="DashboardClientes.html" class="sidebar__text">Clientes</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-star-line"></i>
                    <a href="DashboardReseñas.html" class="sidebar__text">Reseñas</a>
                </li>

                <p class="menu__title">Configuracion Del Sitio</p>

                <li class="sidebar__item">
                    <i class="ri-news-line"></i>
                    <a href="DashboardBlog.html" class="sidebar__text">Blog</a>
                </li>

                <li class="sidebar__item active">
                    <i class="ri-question-answer-line"></i>
                    <a href="" class="sidebar__text">PQRS</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-printer-line"></i>
                    <a href="DashboardReportes.html" class="sidebar__text">Reportes</a>
                </li>
            </ul>

        </aside>

        <main class="dashboard__content">
            <header class="content__header">

                <!-- Barra de búsqueda -->
                <div class="header__search">
                    <input type="text" placeholder="Buscar...">
                    <i class="ri-search-line"></i>
                </div>

                <div class="header__admin">
                    <!-- Icono de notificaciones -->
                    <div class="header__notifications">
                        <i id="notifIcon" class="ri-notification-3-line"></i>
                        <span class="notif__badge">3</span>

                        <!-- Menú desplegable de notificaciones -->
                        <div class="notif__menu" id="notifMenu">
                            <div class="notif__header">
                                <h3>Notificaciones</h3>
                                <small>
                                    Tienes 2 mensajes sin leer
                                    <i class="ri-check-double-line"></i>
                                </small>

                            </div>

                            <div class="notif__item unread">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg" alt="User">
                                <div class="notif__text">
                                    <p><strong>Su pedido ha sido realizado</strong> <br><span>esperando el envío</span>
                                    </p>
                                    <small> <i class="ri-time-line"></i> Hace 1 minuto</small>
                                </div>
                            </div>

                            <div class="notif__item">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroSeis.jpeg" alt="User">
                                <div class="notif__text">
                                    <p><strong>Jitu Chauhan</strong> <span>respondió a tu lista de pedidos pendientes
                                            con
                                            notas</span> </p>
                                    <small> <i class="ri-time-line"></i> Hace 2 días</small>
                                </div>
                            </div>

                            <div class="notif__item">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroUno.jpeg" alt="User">
                                <div class="notif__text">
                                    <p><strong>Tienes mensajes nuevos</strong> <span>2 mensajes no leídos</span></p>
                                    <small> <i class="ri-time-line"></i> Hace 2 días</small>
                                </div>
                            </div>


                            <div class="notif__footer">
                                <a href="#">Ver todo</a>
                            </div>
                        </div>

                    </div>

                    <!-- Foto de usuario -->
                    <div class="header__user">
                        <img id="user__admin" src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg"
                            alt="Usuario">

                        <div class="nav__menu" id="SubMenu">
                            <div class="menu__sub">
                                <div class="sub__info">
                                    <span class="info__admin">Administrador de OroImport</span>
                                    <span class="info__title">joseandres@gmail.com</span>
                                </div>
                                <hr>

                                <a href="Perfil.html" class="sub__link">
                                    <p class="link__text">Perfil</p>
                                </a>

                                <a href="Configuraciones.html" class="sub__link">
                                    <p class="link__text">Configuracion</p>
                                </a>

                                <a href="Notificaciones.html" class="sub__link">
                                    <p class="link__text">Notificaciones</p>
                                </a>

                                <a href="Index.html" class="sub__link">
                                    <p class="link__text">Cerrar Seccion</p>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </header>

            <section class="content__body">

                <div class="body__titleheader">
                    <div class="titleheader__producto">
                        <h1 class="producto__titulo">PQRS</h1>
                        <p class="producto__texto">Gestión de Peticiones, Quejas, Reclamos y Sugerencias</p>
                    </div>
                </div>

                <div class="body__datos">
                    <div class="datos__card">
                        <div class="card__texto">
                            <h2 class="texto__title">Pendientes
                            </h2>

                            <span class="texto__icon"><i class="ri-time-line"></i></span>
                        </div>

                        <div class="card__ingresos">
                            <span class="ingresos__total">2</span>
                        </div>

                    </div>

                    <div class="datos__card">
                        <div class="card__texto">
                            <h2 class="texto__title">En Proceso
                            </h2>

                            <span class="texto__icon"><i class="ri-error-warning-line"></i></span>
                        </div>

                        <div class="card__ingresos">
                            <span class="ingresos__total">2</span>
                        </div>
                    </div>

                    <div class="datos__card">
                        <div class="card__texto">
                            <h2 class="texto__title">Resueltos
                            </h2>

                            <span class="texto__icon"><i class="ri-checkbox-circle-line"></i></span>
                        </div>

                        <div class="card__ingresos">
                            <span class="ingresos__total">2</span>
                        </div>
                    </div>

                    <div class="datos__card">
                        <div class="card__texto">
                            <h2 class="texto__title">Total
                            </h2>

                            <span class="texto__icon"><i class="ri-chat-4-line"></i></span>
                        </div>

                        <div class="card__ingresos">
                            <span class="ingresos__total">6</span>
                        </div>
                    </div>

                </div>

                <div class="body__pqrs">
                    <div class="container__table">
                        <div class="table__filter">

                            <input id="inputSearch" type="search" placeholder="Buscar por nombre o asunto...">

                            <div class="custom__select">
                                <select id="filtro-solicitud">
                                    <option value="Todos">Todos</option>
                                    <option value="Peticion">Peticion</option>
                                    <option value="Queja">Queja</option>
                                    <option value="Reclamo">Reclamo</option>
                                    <option value="Sugerencia">Sugerencia</option>
                                </select>
                                <i class="ri-arrow-down-s-line"></i>
                            </div>

                            <div class="custom__select">
                                <select id="filtro-estado">
                                    <option value="Todos">Todos</option>
                                    <option value="Pendiente">Pendiente</option>
                                    <option value="En Proceso">En Proceso</option>
                                    <option value="Resuelto">Resuelto</option>
                                </select>
                                <i class="ri-arrow-down-s-line"></i>
                            </div>

                        </div>

                        <div class="table__solicitudes">

                            <div class="solicitudes__clientes">
                                <div class="clientes__content" id="contenedor-cards">

                                    <h2 class="content__title">Solicitudes (6)</h2>

                                    <div class="content__card">

                                        <div class="card__estados">
                                            <div class="estados__button">
                                                <button class="button__item Peticion">Peticion</button>
                                                <button class="button__item Pendiente"><i class="ri-time-line"></i>
                                                    Pendiente</button>

                                            </div>

                                            <div class="dropdown">
                                                <button class="dropdown__toggle">
                                                    <i class="ri-more-2-fill"></i>
                                                </button>

                                                <div class="dropdown__menu">
                                                    <button class="dropdown__item eliminar">
                                                        <i class="ri-delete-bin-5-line"></i> Eliminar
                                                    </button>
                                                    <button class="dropdown__item ocultar">
                                                        <i class="ri-eye-line"></i> Ver
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card__information">
                                            <h4 class="information__title">Solicitud de información sobre servicios</h4>
                                            <p class="information__text"><i class="ri-user-line"></i> María González</p>
                                            <p class="information__date"><i class="ri-calendar-line"></i> 4 de noviembre
                                                de 2025</p>
                                        </div>

                                    </div>

                                    <div class="content__card">

                                        <div class="card__estados">
                                            <div class="estados__button">
                                                <button class="button__item Queja">Queja</button>
                                                <button class="button__item EnProceso"><i
                                                        class="ri-error-warning-line"></i> En Proceso</button>

                                            </div>

                                            <div class="dropdown">
                                                <button class="dropdown__toggle">
                                                    <i class="ri-more-2-fill"></i>
                                                </button>

                                                <div class="dropdown__menu">
                                                    <button class="dropdown__item eliminar">
                                                        <i class="ri-delete-bin-5-line"></i> Eliminar
                                                    </button>
                                                    <button class="dropdown__item ocultar">
                                                        <i class="ri-eye-line"></i> Ver
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card__information">
                                            <h4 class="information__title">Demora en la atención</h4>
                                            <p class="information__text"><i class="ri-user-line"></i> Carlos Ramírez</p>
                                            <p class="information__date"><i class="ri-calendar-line"></i> 2 de noviembre
                                                de 2025</p>
                                        </div>

                                    </div>

                                    <div class="content__card">

                                        <div class="card__estados">
                                            <div class="estados__button">
                                                <button class="button__item Reclamo">Reclamo</button>
                                                <button class="button__item Resuelto"><i
                                                        class="ri-checkbox-circle-line"></i> Resuelto</button>

                                            </div>

                                            <div class="dropdown">
                                                <button class="dropdown__toggle">
                                                    <i class="ri-more-2-fill"></i>
                                                </button>

                                                <div class="dropdown__menu">
                                                    <button class="dropdown__item eliminar">
                                                        <i class="ri-delete-bin-5-line"></i> Eliminar
                                                    </button>
                                                    <button class="dropdown__item ocultar">
                                                        <i class="ri-eye-line"></i> Ver
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card__information">
                                            <h4 class="information__title">Producto defectuoso</h4>
                                            <p class="information__text"><i class="ri-user-line"></i> Ana Martínez</p>
                                            <p class="information__date"><i class="ri-calendar-line"></i> 3 de noviembre
                                                de 2025</p>
                                        </div>

                                    </div>

                                    <div class="content__card">

                                        <div class="card__estados">
                                            <div class="estados__button">
                                                <button class="button__item Sugerencia">Sugerencia</button>
                                                <button class="button__item Pendiente"><i class="ri-time-line"></i>
                                                    Pendiente</button>

                                            </div>

                                            <div class="dropdown">
                                                <button class="dropdown__toggle">
                                                    <i class="ri-more-2-fill"></i>
                                                </button>

                                                <div class="dropdown__menu">
                                                    <button class="dropdown__item eliminar">
                                                        <i class="ri-delete-bin-5-line"></i> Eliminar
                                                    </button>
                                                    <button class="dropdown__item ocultar">
                                                        <i class="ri-eye-line"></i> Ver
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card__information">
                                            <h4 class="information__title">Mejora en la plataforma web</h4>
                                            <p class="information__text"><i class="ri-user-line"></i> Luis Torres</p>
                                            <p class="information__date"><i class="ri-calendar-line"></i> 5 de noviembre
                                                de 2025</p>
                                        </div>

                                    </div>

                                    <div class="content__card">

                                        <div class="card__estados">
                                            <div class="estados__button">
                                                <button class="button__item Peticion">Peticion</button>
                                                <button class="button__item EnProceso"><i
                                                        class="ri-error-warning-line"></i> En Proceso</button>

                                            </div>

                                            <div class="dropdown">
                                                <button class="dropdown__toggle">
                                                    <i class="ri-more-2-fill"></i>
                                                </button>

                                                <div class="dropdown__menu">
                                                    <button class="dropdown__item eliminar">
                                                        <i class="ri-delete-bin-5-line"></i> Eliminar
                                                    </button>
                                                    <button class="dropdown__item ocultar">
                                                        <i class="ri-eye-line"></i> Ver
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card__information">
                                            <h4 class="information__title">Certificado de servicio</h4>
                                            <p class="information__text"><i class="ri-user-line"></i> Sandra López</p>
                                            <p class="information__date"><i class="ri-calendar-line"></i> 6 de noviembre
                                                de 2025</p>
                                        </div>

                                    </div>

                                    <div class="content__card">

                                        <div class="card__estados">
                                            <div class="estados__button">
                                                <button class="button__item Queja">Queja</button>
                                                <button class="button__item Resuelto"><i
                                                        class="ri-checkbox-circle-line"></i> Resuelto</button>
                                            </div>

                                            <div class="dropdown">
                                                <button class="dropdown__toggle">
                                                    <i class="ri-more-2-fill"></i>
                                                </button>

                                                <div class="dropdown__menu">
                                                    <button class="dropdown__item eliminar">
                                                        <i class="ri-delete-bin-5-line"></i> Eliminar
                                                    </button>
                                                    <button class="dropdown__item ocultar">
                                                        <i class="ri-eye-line"></i> Ver
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card__information">
                                            <h4 class="information__title">Mala atención al cliente</h4>
                                            <p class="information__text"><i class="ri-user-line"></i> Pedro Sánchez</p>
                                            <p class="information__date"><i class="ri-calendar-line"></i> 1 de noviembre
                                                de 2025</p>
                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>

                        <!-- Pagination PQRS -->
                        <div class="table__pagination">
                            <div class="pagination__button">
                                <button class="button__pasar pasar--anterior">Anterior</button>
                                <button class="button__pasar pasar--siguiente">Siguiente</button>
                            </div>
                        </div>

                    </div>
                </div>

            </section>
        </main>

    </div>


    <!-- Modal Detalle solicitud -->
    <div class="modal" id="modalDetalle">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Detalle de la solicitud</h2>
                <button class="close-btn" id="cerrarModal">&times;</button>
            </div>

            <div class="modal-body">
                <div class="estados__button button--modal">
                    <button class="button__item"></button>
                    <button class="button__item"></button>
                </div>

                <h3>Mala atención al cliente</h3>
                <div class="info-row fecha"><i class="ri-calendar-line"></i> <span>Fecha:</span> </div>
                <div class="info-row"><i class="ri-user-line"></i> <span>Nombre:</span> </div>
                <div class="info-row"><i class="ri-mail-line"></i> <span>Email:</span> </div>
                <div class="info-row"><i class="ri-phone-line"></i> <span>Teléfono:</span> </div>

                <div class="mensaje">
                    <label>Mensaje:</label>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, mollitia nam hic dolore debitis deleniti? Facilis aut nemo tempora, delectus, consequuntur veritatis impedit vitae tenetur aperiam quibusdam, facere et perspiciatis.</p>
                </div>

                <div class="cambiar-estado">
                    <label>Cambiar estado:</label>
                    <form id="formEstado">
                        <div class="custom__select">
                            <select id="filtro-estado">
                                <option value="Pendiente">Pendiente</option>
                                <option value="En Proceso">En Proceso</option>
                                <option value="Resuelto">Resuelto</option>
                            </select>
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                        <!-- Botón invisible -->
                        <button type="submit" id="submitEstado" style="display: none;">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/Js/DashboardPQRS.js"></script>
</body>

</html>