<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link rel="stylesheet" href="../static/Css/EditarClientes.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <!-- Quill CSS -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <title>Dashboard Editar Clientes || Costa de oro import</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="Gran Oferta de Vinos - Disfruta los mejores sabores">
    <meta property="og:description"
        content="Descubre una selección exclusiva de vinos premium con descuentos especiales.">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
</head>

<body>
    <div class="container__dashboard">

        <aside class="dashboard__sidebar">

            <figure class="sidebar__logo">
                <img src="../static/Assets/Img/logos/logoDashboardYPrincipal.webp" alt="Logo dashboard">
            </figure>

            <ul class="sidebar__menu">
                <li class="sidebar__item">
                    <i class="ri-home-4-line"></i>
                    <a href="Dashboard.html" class="sidebar__text">Panel De Control</a>
                </li>

                <p class="menu__title">Administracion De Tiendas</p>

                <li class="sidebar__item">
                    <i class="ri-shopping-cart-2-line"></i>
                    <a href="DashboardProducto.html" class="sidebar__text">Productos</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-list-unordered"></i>
                    <a href="DashboardCategoria.html" class="sidebar__text">Categorias</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-shopping-bag-4-line"></i>
                    <a href="DashboardCompra.html" class="sidebar__text">Compras</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-store-2-line"></i>
                    <a href="DashboardProveedores.html" class="sidebar__text">Proveedores</a>
                </li>

                <li class="sidebar__item active">
                    <i class="ri-group-line"></i>
                    <a href="DashboardClientes.html" class="sidebar__text">Clientes</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-star-line"></i>
                    <a href="DashboardReseñas.html" class="sidebar__text">Reseñas</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-pie-chart-line"></i>
                    <a href="DashboardPredicciones.html" class="sidebar__text">Predicciones</a>
                </li>

                <p class="menu__title">Configuracion Del Sitio</p>

                <li class="sidebar__item">
                    <i class="ri-news-line"></i>
                    <a href="DashboardBlog.html" class="sidebar__text">Blog</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-question-answer-line"></i>
                    <a href="DashboardPQRS.html" class="sidebar__text">PQRS</a>
                </li>

                <li class="sidebar__item">
                    <i class="ri-printer-line"></i>
                    <a href="DashboardReportes.html" class="sidebar__text">Reportes</a>
                </li>
            </ul>

        </aside>

        <main class="dashboard__content">
            <header class="content__header">

                <!-- Barra de búsqueda -->
                <div class="header__search">
                    <input type="text" placeholder="Buscar...">
                    <i class="ri-search-line"></i>
                </div>

                <div class="header__admin">
                    <!-- Icono de notificaciones -->
                    <div class="header__notifications">
                        <i id="notifIcon" class="ri-notification-3-line"></i>
                        <span class="notif__badge">3</span>

                        <!-- Menú desplegable de notificaciones -->
                        <div class="notif__menu" id="notifMenu">
                            <div class="notif__header">
                                <h3>Notificaciones</h3>
                                <small>
                                    Tienes 2 mensajes sin leer
                                    <i class="ri-check-double-line"></i>
                                </small>

                            </div>

                            <div class="notif__item unread">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg" alt="User">
                                <div class="notif__text">
                                    <p><strong>Su pedido ha sido realizado</strong> <br><span>esperando el envío</span>
                                    </p>
                                    <small> <i class="ri-time-line"></i> Hace 1 minuto</small>
                                </div>
                            </div>

                            <div class="notif__item">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroSeis.jpeg" alt="User">
                                <div class="notif__text">
                                    <p><strong>Jitu Chauhan</strong> <span>respondió a tu lista de pedidos pendientes
                                            con
                                            notas</span> </p>
                                    <small> <i class="ri-time-line"></i> Hace 2 días</small>
                                </div>
                            </div>

                            <div class="notif__item">
                                <img src="../static/Assets/Img/ExperenciaUsuarios/rostroUno.jpeg" alt="User">
                                <div class="notif__text">
                                    <p><strong>Tienes mensajes nuevos</strong> <span>2 mensajes no leídos</span></p>
                                    <small> <i class="ri-time-line"></i> Hace 2 días</small>
                                </div>
                            </div>


                            <div class="notif__footer">
                                <a href="#">Ver todo</a>
                            </div>
                        </div>

                    </div>

                    <!-- Foto de usuario -->
                    <div class="header__user">
                        <img id="user__admin" src="../static/Assets/Img/ExperenciaUsuarios/rostroCuatro.jpeg"
                            alt="Usuario">

                        <div class="nav__menu" id="SubMenu">
                            <div class="menu__sub">
                                <div class="sub__info">
                                    <span class="info__admin">Administrador de OroImport</span>
                                    <span class="info__title">joseandres@gmail.com</span>
                                </div>
                                <hr>

                                <a href="Perfil.html" class="sub__link">
                                    <p class="link__text">Perfil</p>
                                </a>

                                <a href="Configuraciones.html" class="sub__link">
                                    <p class="link__text">Configuracion</p>
                                </a>

                                <a href="Notificaciones.html" class="sub__link">
                                    <p class="link__text">Notificaciones</p>
                                </a>

                                <a href="Index.html" class="sub__link">
                                    <p class="link__text">Cerrar Seccion</p>
                                </a>
                            </div>
                        </div>

                    </div>

                </div>
            </header>

            <section class="content__body">

                <div class="body__titleheader">
                    <div class="titleheader__producto">
                        <h1 class="producto__titulo">Editar Clientes</h1>
                    </div>

                    <div class="titleheader__btn">
                        <a href="DashboardClientes.html">Volver al clientes</a>
                    </div>
                </div>

                <div class="body__registrarproducto">
                    <div class="registrarproducto__productoinformacion">

                        <div class="productoinformacion__formulario">

                            <form class="formulario__producto" id="formularioClientes" action="">

                                <div class="producto__input">

                                    <div class="input__formulario" id="formulario__imagen">
                                        <h2 class="formulario__title">Imágenes del cliente</h2>
                                        <div class="formulario__boximagen">
                                            <input type="file" id="fileInput" accept="image/*" hidden>
                                            <div class="preview-container" id="previewContainer"></div>
                                        </div>

                                        <p class="formulario__mensaje"> JPG, PNG o WEBP Tamaño máximo de 1MB</p>

                                        <div class="formulario__btn">
                                            <button>Subir</button>
                                            <button>Limpiar</button>
                                        </div>

                                        <p class="formulario__error error--formato">
                                            Solo se permiten archivos con formato JPG, PNG o WEBP..
                                        </p>

                                        <p class="formulario__error error--vacio">
                                            Debes subir al menos una imagen del cliente.
                                        </p>
                                    </div>

                                    <h2 class="producto__title">Información del clientes
                                    </h2>

                                    <div class="input__formulario">
                                        <div class="formulario__box">
                                            <input type="text" autocomplete="off" placeholder="" name="Nombre"
                                                id="nombre">
                                            <label class="box__label" for="nombre">Nombre</label>
                                            <span class="box__icon"><i class="ri-check-line"></i></span>
                                            <span class="box__icon"><i class="ri-close-line"></i></span>
                                        </div>
                                        <p class="formulario__error">
                                            El nombre debe tener al menos 3 letras y no contener números.
                                        </p>
                                    </div>

                                    <div class="input__formulario">
                                        <div class="formulario__box">
                                            <input type="text" autocomplete="off" placeholder="" name="Apellido"
                                                id="apellido">
                                            <label class="box__label" for="apellido">Apellido</label>
                                            <span class="box__icon"><i class="ri-check-line"></i></span>
                                            <span class="box__icon"><i class="ri-close-line"></i></span>
                                        </div>
                                        <p class="formulario__error">
                                            El apellido debe tener al menos 3 letras y no contener números.
                                        </p>
                                    </div>

                                    <div class="input__formulario">
                                        <div class="formulario__box">
                                            <input type="text" autocomplete="off" placeholder="" name="Telefono"
                                                id="telefono">
                                            <label class="box__label" for="telefono">Telefono</label>
                                            <span class="box__icon"><i class="ri-check-line"></i></span>
                                            <span class="box__icon"><i class="ri-close-line"></i></span>
                                        </div>
                                        <p class="formulario__error">
                                            El teléfono solo puede contener numeros y el maximo son 10 digitos.
                                        </p>
                                    </div>

                                    <div class="input__formulario">
                                        <div class="formulario__box">
                                            <input type="text" autocomplete="off" placeholder="" name="Correo"
                                                id="correo">
                                            <label class="box__label" for="correo">Correo</label>
                                            <span class="box__icon"><i class="ri-check-line"></i></span>
                                            <span class="box__icon"><i class="ri-close-line"></i></span>
                                        </div>
                                        <p class="formulario__error">
                                            El correo solo puede contener letras,numeros,puntos,guiones y guion bajo.
                                        </p>
                                    </div>

                                    <div class="input__formulario">
                                        <div class="formulario__customselect">
                                            <select class="customselect__styled" id="tipoIdentificacion">
                                                <option disabled selected>Tipo Identificacion</option>
                                                <option value="Cedula">CC (Cédula de Ciudadanía)</option>
                                                <option value="C.Extranjeria">CE (Cédula de Extranjería)</option>
                                                <option value="D.Extranjería">DE (Documento de Extranjería)</option>
                                                <option value="NIT">NIT (Identificación Tributaria)</option>
                                                <option value="PP">PP (Pasaporte)</option>
                                                <option value="RUT">RUT (Registro Único Tributario)</option>
                                                <option value="TEC">TE (Tarjeta de Extranjería)</option>
                                                <option value="T">TI (Tarjeta de Identidad)</option>
                                            </select>
                                            <i class="fa-solid fa-chevron-down custom-arrow" id="arrowIcon"></i>
                                        </div>
                                        <p class="formulario__error error--TipoIdentificacion">
                                            Selecciona un tipo de identificacion
                                        </p>
                                    </div>

                                    <div class="input__formulario">
                                        <div class="formulario__box">
                                            <input type="text" autocomplete="off" placeholder="" name="Identificacion"
                                                id="identificacion">
                                            <label class="box__label" for="identificacion">Identificacion</label>
                                            <span class="box__icon"><i class="ri-check-line"></i></span>
                                            <span class="box__icon"><i class="ri-close-line"></i></span>
                                        </div>
                                        <p class="formulario__error">
                                            La cédula debe contener entre 6 y 10 dígitos numéricos.
                                        </p>
                                    </div>

                                    <div class="input__formulario">
                                        <div class="formulario__box">
                                            <input type="text" autocomplete="off" placeholder="" name="Direccion"
                                                id="direccion">
                                            <label class="box__label" for="direccion">Direccion</label>
                                            <span class="box__icon"><i class="ri-check-line"></i></span>
                                            <span class="box__icon"><i class="ri-close-line"></i></span>
                                        </div>
                                        <p class="formulario__error">
                                            Ingresa una dirección válida (ej. Calle 45 #10-23, 130002 o San Fernando,
                                            Calle 45 #10-23,
                                            130002).
                                        </p>
                                    </div>

                                    <div class="input__formulario">
                                        <div class="formulario__box">
                                            <input type="text" autocomplete="off" placeholder="" name="Password"
                                                id="password">
                                            <label class="box__label" for="password">Contraseña</label>
                                            <span class="box__icon"><i class="ri-check-line"></i></span>
                                            <span class="box__icon"><i class="ri-close-line"></i></span>
                                        </div>
                                        <p class="formulario__error">
                                            La contraseña tiene que ser de 4 a 15 digitos
                                        </p>
                                    </div>

                                    <button class="input__btn">Crear nuevo cliente</button>


                                </div>

                            </form>

                        </div>

                    </div>

                </div>

            </section>
        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/Js/EditarClientes.js"></script>
</body>

</html>