<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/Css/productos.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/Assets/Img/Logos/LogoBeer.png}">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
        integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
        integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Productos || Costa De Oro Imports</title>
    <meta name="description" content="">
    <meta name="autor" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="index,follow">
    <meta property="og:title" content="Gran Oferta de Vinos - Disfruta los mejores sabores">
    <meta property="og:description"
        content="Descubre una selección exclusiva de vinos premium con descuentos especiales.">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
</head>

<body>
    <header class="header">
        <figure class="header__logo">
            <a th:href="@{/}">
                <img th:src="@{/Assets/Img/logos/LogoBeer.webp}" alt="Logo dashboard">
            </a>
        </figure>

        <nav class="header__navbar">
            <ul class="navbar__list">
                <li class="list__item"><a th:href="@{/}" class="item__link">Inicio</a></li>
                <li class="list__item"><a th:href="@{/paks}" class="item__link">Packs</a></li>
                <li class="list__item"><a href="#" class="item__link active">Productos</a></li>
                <li class="list__item"><a th:href="@{/blog}" class="item__link">Blog</a></li>
                <li class="list__item"><a th:href="@{/contacto}" class="item__link">Contactenos</a></li>
            </ul>
        </nav>

        <div class="list__icon">

            <!-- Buscar -->
            <span class="icon__item">
                <i class="ri-search-line"></i>
            </span>

            <!-- Usuario -->
            <span class="icon__item">
                <i class="ri-user-line"></i>
                <!-- Cuando el usuario NO está autenticado -->
                <div class="nav__menu" id="SubMenu1" sec:authorize="isAnonymous()">
                    <div class="menu__sub">
                        <a th:href="@{/auth/login}" class="sub__link">
                            <p class="link__text">Iniciar Sesión</p>
                        </a>
                        <a th:href="@{/auth/registro}" class="sub__link">
                            <p class="link__text">Registro</p>
                        </a>
                        <a th:href="@{/auth/recordar-contrasenna}" class="sub__link">
                            <p class="link__text">Recordar Contraseña</p>
                        </a>
                    </div>
                </div>
                <!-- Cuando el usuario SÍ está autenticado -->
                <div class="nav__menu" id="SubMenu" sec:authorize="isAuthenticated()">
                    <div class="menu__sub">
                        <div class="sub__info">
                            <i class="ri-user-line"></i>
                            <h2 class="info__title" th:text="${#authentication.principal?.nombres}">Nombre Usuario
                            </h2>
                        </div>
                        <hr>
                        <a th:href="@{/perfil/}" class="sub__link">
                            <p class="link__text">Perfil</p>
                        </a>
                        <a th:href="@{/perfil/configuration}" class="sub__link">
                            <p class="link__text">Configuracion</p>
                        </a>
                        <a th:href="@{/perfil/notificaciones}" class="sub__link">
                            <p class="link__text">Notificaciones</p>
                        </a>
                        <a th:href="@{/perfil/pedidos}" class="sub__link">
                            <p class="link__text">Sus Pedidos</p>
                        </a>
                        <a th:href="@{/auth/logout}" class="sub__link">
                            <p class="link__text">Cerrar Seccion</p>
                        </a>
                    </div>
                </div>
            </span>

            <!-- Favorito -->
            <span class="icon__item" id="go-fav">
                <i class="ri-heart-3-line"></i>
                <span class="icon__badge" id="fav-count"></span>
            </span>

            <!-- Carrito -->
            <span class="icon__item" id="cart-icon">
                <i class="ri-shopping-cart-2-line"></i>
                <span class="icon__badge" id="cart-count"></span>
            </span>
        </div>
    </header>

    <main>
        <section class="productos">

            <div class="container__enlaces">
                <div class="enlaces__inicio">
                    <a th:href="@{/}">Inicio /</a>
                    <a href="">Licores /</a>
                    <a href="">Productos</a>

                    <h2 class="enlaces__titulos">Productos</h2>
                </div>

                <div class="enlaces__filtros">
                    <div class="filtros__productos">
                        <span class="productos__icon" id="btn-grid"><i class="ri-function-fill"></i></span>
                        <span class="productos__icon" id="btn-list"><i class="ri-menu-line"></i></span>

                        <button class="productos__button" id="btn-filtros">Filtrar y ordenar <i
                                class="ri-equalizer-2-line"></i></button>
                    </div>
                </div>

            </div>

            <!-- Sidebar -->
            <div id="sidebar-filtros" class="sidebar">
                <div class="sidebar__header">
                    <h3>FILTRAR Y ORDENAR</h3>
                    <button id="close-sidebar" class="close-btn">&times;</button>
                </div>

                <ul class="sidebar__menu">
                    <!-- ORDENAR POR -->
                    <li class="menu__item">
                        <button class="menu__toggle">Ordenar por:</button>
                        <ul class="submenu">
                            <li><label><input type="checkbox"> Más vendido</label></li>
                            <li><label><input type="checkbox"> Mejor calificación</label></li>
                            <li><label><input type="checkbox"> Precio bajo a alto</label></li>
                            <li><label><input type="checkbox"> Precio alto a bajo</label></li>
                            <li><label><input type="checkbox"> Nombre ascendente</label></li>
                            <li><label><input type="checkbox"> Nombre descendente</label></li>
                        </ul>
                    </li>

                    <li class="menu__item" id="filtros-aplicados" style="display:none;">
                        <button class="menu__toggle">Filtros aplicados:</button>
                        <ul class="submenu"></ul>
                    </li>

                    <!-- PAÍS DE ORIGEN -->
                    <li class="menu__item">
                        <button class="menu__toggle">País</button>
                        <ul class="submenu">

                            <!-- Input de búsqueda -->
                            <li><input type="text" class="filter-input" placeholder="Buscar país..."></li>
                            <!-- Paises -->
                            <li><label><input type="checkbox"> Alemania</label></li>
                            <li><label><input type="checkbox"> Argentina</label></li>
                            <li><label><input type="checkbox"> Belgica</label></li>
                            <li><label><input type="checkbox"> Chile</label></li>
                            <li><label><input type="checkbox"> Colombia</label></li>
                            <li><label><input type="checkbox"> Republica Dominicana</label></li>
                            <li><label><input type="checkbox"> Estados Unidos</label></li>
                            <li><label><input type="checkbox"> Escocia</label></li>
                            <li><label><input type="checkbox"> España</label></li>
                            <li><label><input type="checkbox"> Francia</label></li>
                            <li><label><input type="checkbox"> Guatemala</label></li>
                            <li><label><input type="checkbox"> Holanda</label></li>
                            <li><label><input type="checkbox"> Irlanda</label></li>
                            <li><label><input type="checkbox"> Italia</label></li>
                            <li><label><input type="checkbox"> México</label></li>
                            <li><label><input type="checkbox"> Puerto Rico</label></li>
                            <li><label><input type="checkbox"> Reino Unido</label></li>
                            <li><label><input type="checkbox"> Russia</label></li>
                            <li><label><input type="checkbox"> Suecia</label></li>
                        </ul>
                    </li>

                    <!-- MARCA -->
                    <li class="menu__item">
                        <button class="menu__toggle">Marca</button>
                        <ul class="submenu">
                            <!-- Input de búsqueda -->
                            <li><input type="text" class="filter-input" placeholder="Buscar marca..."></li>
                            <!-- Marcas -->
                            <li><label><input type="checkbox"> Buchanan's</label></li>
                            <li><label><input type="checkbox"> Johnnie Walker</label></li>
                            <li><label><input type="checkbox"> The Famous Grouse</label></li>
                            <li><label><input type="checkbox"> Glenfiddich</label></li>
                            <li><label><input type="checkbox"> Jose Cuervo</label></li>
                            <li><label><input type="checkbox"> Patrón</label></li>
                            <li><label><input type="checkbox"> Don Julio</label></li>
                            <li><label><input type="checkbox"> El Jimador</label></li>
                            <li><label><input type="checkbox"> Gran Centenario</label></li>
                            <li><label><input type="checkbox"> Moelia</label></li>
                            <li><label><input type="checkbox"> El Enemigo</label></li>
                            <li><label><input type="checkbox"> Catena</label></li>
                            <li><label><input type="checkbox"> Nuit Dorée</label></li>
                            <li><label><input type="checkbox"> Terra Vega</label></li>
                            <li><label><input type="checkbox"> Conquesta</label></li>
                            <li><label><input type="checkbox"> Oro Veneto</label></li>
                            <li><label><input type="checkbox"> Lambrusco Botticello</label></li>
                            <li><label><input type="checkbox"> Casillero</label></li>
                            <li><label><input type="checkbox"> Paulaner</label></li>
                            <li><label><input type="checkbox"> Águila</label></li>
                            <li><label><input type="checkbox"> Club Colombia</label></li>
                            <li><label><input type="checkbox"> Corona</label></li>
                            <li><label><input type="checkbox"> Estrella Galicia</label></li>
                            <li><label><input type="checkbox"> Miller</label></li>
                            <li><label><input type="checkbox"> Budweiser</label></li>
                            <li><label><input type="checkbox"> Heineken</label></li>
                            <li><label><input type="checkbox"> Guinness</label></li>
                            <li><label><input type="checkbox"> Stella Artois</label></li>
                            <li><label><input type="checkbox"> Poker</label></li>
                            <li><label><input type="checkbox"> La Hechicera</label></li>
                            <li><label><input type="checkbox"> Zacapa</label></li>
                            <li><label><input type="checkbox"> Medellín</label></li>
                            <li><label><input type="checkbox"> Barceló</label></li>
                            <li><label><input type="checkbox"> Bacardí</label></li>
                            <li><label><input type="checkbox"> Aguardiente Antioqueño</label></li>
                            <li><label><input type="checkbox"> Smirnoff</label></li>
                            <li><label><input type="checkbox"> Absolut</label></li>
                            <li><label><input type="checkbox"> Tito's</label></li>
                            <li><label><input type="checkbox"> Gordon's</label></li>
                            <li><label><input type="checkbox"> Tanqueray</label></li>
                            <li><label><input type="checkbox"> Hendrick's</label></li>
                            <li><label><input type="checkbox"> Monkey 47</label></li>
                            <li><label><input type="checkbox"> Beefeater</label></li>
                        </ul>
                    </li>

                    <!-- CATEGORÍA -->
                    <li class="menu__item">
                        <button class="menu__toggle">Categoría</button>
                        <ul class="submenu">
                            <!-- Input de búsqueda -->
                            <li>
                                <input type="text" class="filter-input" placeholder="Buscar categoría...">
                            </li>

                            <!-- Whiskys -->
                            <li class="category-group">
                                <label class="category-main">
                                    <input type="checkbox" class="parent-checkbox"> Whiskys
                                </label>
                                <ul class="subcategory-list">
                                    <li><label><input type="checkbox"> Blended Scotch</label></li>
                                    <li><label><input type="checkbox"> Single Malt</label></li>
                                    <li><label><input type="checkbox"> Blended Malt</label></li>
                                </ul>
                            </li>
                            <!-- Tequila -->
                            <li class="category-group">
                                <label class="category-main">
                                    <input type="checkbox" class="parent-checkbox"> Tequila
                                </label>
                                <ul class="subcategory-list">
                                    <li><label><input type="checkbox"> Añejo Cristalino</label></li>
                                    <li><label><input type="checkbox"> Tequila Blanco</label></li>
                                    <li><label><input type="checkbox"> Tequila Reposado</label></li>
                                    <li><label><input type="checkbox"> Tequila Añejo</label></li>
                                </ul>
                            </li>
                            <!-- Mezcal -->
                            <li class="category-group">
                                <label class="category-main">
                                    <input type="checkbox" class="parent-checkbox"> Mezcal
                                </label>
                                <ul class="subcategory-list">
                                    <li><label><input type="checkbox"> Mezcal Ancestral</label></li>
                                    <li><label><input type="checkbox"> Mezcal Artesanal</label></li>
                                    <li><label><input type="checkbox"> Mezcal Industrial</label></li>
                                    <li><label><input type="checkbox"> Mezcal Añejo</label></li>
                                    <li><label><input type="checkbox"> Mezcal Reposado</label></li>
                                </ul>
                            </li>
                            <!-- Vinos -->
                            <li class="category-group">
                                <label class="category-main">
                                    <input type="checkbox" class="parent-checkbox"> Vinos
                                </label>
                                <ul class="subcategory-list">
                                    <li><label><input type="checkbox"> Vino Tinto</label></li>
                                    <li><label><input type="checkbox"> Vino Blanco</label></li>
                                    <li><label><input type="checkbox"> Vino Rosado</label></li>
                                    <li><label><input type="checkbox"> Vino Espumoso</label></li>
                                </ul>
                            </li>
                            <!-- Cervezas -->
                            <li class="category-group">
                                <label class="category-main">
                                    <input type="checkbox" class="parent-checkbox"> Cervezas
                                </label>
                                <ul class="subcategory-list">
                                    <li><label><input type="checkbox"> Cerveza Lager</label></li>
                                    <li><label><input type="checkbox"> Cerveza Ale</label></li>
                                    <li><label><input type="checkbox"> Cerveza Artesanal</label></li>
                                    <li><label><input type="checkbox"> Cerveza Importada</label></li>
                                </ul>
                            </li>
                            <!-- Ron -->
                            <li class="category-group">
                                <label class="category-main">
                                    <input type="checkbox" class="parent-checkbox"> Ron
                                </label>
                                <ul class="subcategory-list">
                                    <li><label><input type="checkbox"> Ron añejo</label></li>
                                    <li><label><input type="checkbox"> Ron blanco</label></li>
                                    <li><label><input type="checkbox"> Ron dorado</label></li>
                                    <li><label><input type="checkbox"> Ron oscuro</label></li>
                                </ul>
                            </li>
                            <!-- Aguardiente -->
                            <li class="category-group">
                                <label class="category-main">
                                    <input type="checkbox" class="parent-checkbox"> Aguardiente
                                </label>
                                <ul class="subcategory-list">
                                    <li><label><input type="checkbox"> Aguardiente tradicional</label></li>
                                    <li><label><input type="checkbox"> Aguardiente sin azúcar</label></li>
                                    <li><label><input type="checkbox"> Aguardiente de frutas</label></li>
                                    <li><label><input type="checkbox"> Aguardiente artesanal</label></li>
                                </ul>
                            </li>
                            <!-- Vodka -->
                            <li class="category-group">
                                <label class="category-main">
                                    <input type="checkbox" class="parent-checkbox"> Vodka
                                </label>
                                <ul class="subcategory-list">
                                    <li><label><input type="checkbox"> Vodka Saborizado</label></li>
                                    <li><label><input type="checkbox"> Vodka Premium</label></li>
                                    <li><label><input type="checkbox"> Vodka Artesanal</label></li>
                                    <li><label><input type="checkbox"> Ron oscuro</label></li>
                                </ul>
                            </li>
                            <!-- Ginebra -->
                            <li class="category-group">
                                <label class="category-main">
                                    <input type="checkbox" class="parent-checkbox"> Ginebra
                                </label>
                                <ul class="subcategory-list">
                                    <li><label><input type="checkbox"> Plymouth Gin</label></li>
                                    <li><label><input type="checkbox"> Old Tom Gin</label></li>
                                    <li><label><input type="checkbox"> Ginebra Premium</label></li>
                                    <li><label><input type="checkbox"> London Dry Gin</label></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <!-- PRECIO -->
                    <li class="menu__item">
                        <button class="menu__toggle">Rango de precio</button>
                        <ul class="submenu">
                            <li>
                                <div class="price-range">
                                    <div class="price-values">
                                        <span id="rangeMin">$0</span>
                                        <span id="rangeMax">$10 000 000</span>
                                    </div>

                                    <div class="slider-container">
                                        <input type="range" id="minRange" min="0" max="10000000" value="203400"
                                            step="1000">
                                        <input type="range" id="maxRange" min="0" max="10000000" value="4071200"
                                            step="1000">
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

                    <div class="limpiar__todo"  style="display:none;">
                        <button id="limpiar-todo" class="btn-limpiar">LIMPIAR TODO</button>
                    </div>
            </div>

            <div class="productos__destacados">

                <div class="flex">
                    <div class="flex__productos">
                        <div class="flex__productos-track">
                            <div class="card" th:each="p, stat : ${productosActivos}" th:attr="data-id=${p.id},
                                     data-code=${p.codigoProducto},
                                     data-name=${p.nombre},
                                     data-brand=${p.marca},
                                     data-country=${p.pais},
                                     data-type=${p.tipo},
                                     data-price=${p.precio},
                                     data-oldprice=${p.precioRegular},
                                     data-stock=${p.stock},
                                     data-description=${p.descripcion},
                                     data-active=${p.activo},
                                     data-category=${p.nombreCategoria},
                                     data-subcategory=${p.nombreSubCategoria},
                                     data-image=${p.imagen}">

                                <div class="badge badge-green" th:if="${p.precioRegular != 0}"
                                    th:text="${'-' + T(java.lang.Math).round(((p.precioRegular - p.precio) / p.precioRegular) * 100) + '%'}">
                                </div>

                                <img th:src="${p.imagen}" alt="" width="250" height="250" />

                                <span class="category" th:text="${p.nombreSubCategoria}"></span>

                                <figure class="pais">
                                    <img th:src="@{'/Assets/Img/Paises/' + ${p.pais} + '.svg'}" th:alt="${p.pais}">
                                    <figcaption class="pais__name" th:text="${p.pais}"></figcaption>
                                </figure>

                                <p class="description" th:text="${p.nombre}"></p>

                                <div class="stars">
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-fill"></i>
                                    <i class="ri-star-line"></i>
                                </div>

                                <div class="price-container">
                                    <span class="price"
                                        th:text="${#numbers.formatDecimal(p.precio, 0, 'POINT', 0, 'POINT')}"></span>
                                    <span class="price-old"
                                        th:text="${p.precioRegular != 0 ? #numbers.formatDecimal(p.precioRegular, 0, 'POINT', 0, 'POINT') : ''}">
                                    </span>
                                </div>

                                <div class="card-icons">
                                    <i class="ri-heart-line" title="Favorito"></i>
                                    <i class="ri-shopping-cart-line" title="Agregar al carrito"></i>
                                    <i class="ri-eye-line" title="Ver"></i>
                                    <i class="ri-share-line" title="Compartir"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- PAGINACIÓN FUERA DEL CONTENEDOR GRID -->
                <div class="pagination" id="pagination">
                    <button id="prevBtn"><i class="ri-arrow-left-s-line"></i></button>
                    <div class="pagination__Numbers">
                    </div>
                    <button id="nextBtn"><i class="ri-arrow-right-s-line"></i></button>
                </div>
            </div>

        </section>

    </main>

    <!-- ============= DRAWER DEL CARRITO ============= -->
    <div class="cart-overlay" id="cart-overlay"></div>
    <aside class="cart-drawer" id="cart-drawer">
        <header class="cart-header">
            <h3 class="header__carrito">Carrito De Compras</h3>
            <button id="cart-close"><i class="ri-close-line"></i></button>
        </header>

        <div class="cart-body">
            <ul class="cart-list" id="cart-list"></ul>
        </div>

        <footer class="cart-footer">
            <div class="cart-subtotal">
                <span>Subtotal:</span>
                <strong id="cart-subtotal">$0.00</strong>
            </div>
            <button id="seguir-comprando" class="btn-primary">Seguir Comprando</button>
            <button id="finalizar-compra" class="btn-primary">Finalizar compra</button>
        </footer>
    </aside>

    <footer class="footer">
        <div class="footer__subscripcion">
            <div class="subcripcion__informativa">
                <div class="informativa__subscribir">
                    <h2 class="subscribir__title">Suscríbete al Boletín Informativo</h2>
                    <p class="subscribir__text">
                        Recibe en tu correo nuestras últimas novedades y <span>las mejores ofertas especiales.</span>
                    </p>
                </div>

                <div class="informativa__formulario">
                    <form class="formulario__subcripcion" action="">
                        <div class="subcripcion__formulario">
                            <div class="formulario__input">
                                <input type="email" autocomplete="off" placeholder="Ingresa tu email" name="Email"
                                    id="email">
                                <button type="submit">Subcribete</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="footer__enlaces">

            <div class="enlaces__categoriaNosotros">
                <figure class="categoriaNosotros__logo">
                    <img src="" alt="">
                </figure>

                <ul class="categoriaNosotros__list">
                    <h4 class="list__title">Contactanos</h4>

                    <li class="list__item"><strong>Direccion: </strong>Fundacion Tecnologica De Comfenalco</li>
                    <li class="list__item"><strong>Telefono: </strong> +321458924</li>
                    <li class="list__item"><strong>Horarios: </strong> 7:00 - 17:00, Lunes - Viernes</li>

                    <h4 class="list__siguenos">Siguenos en</h4>

                    <div class="list__icon">
                        <li class="icon__social"><i class="ri-facebook-fill"></i></li>
                        <li class="icon__social"><i class="ri-twitter-fill"></i></li>
                        <li class="icon__social"><i class="ri-instagram-fill"></i></li>
                        <li class="icon__social"><i class="ri-pinterest-fill"></i></li>
                    </div>

                </ul>
            </div>

            <div class="enlaces__categoriaPopulares">
                <h2 class="categoriaPopulares__title">Categorias Populares</h2>

                <ul class="categoriasPopulares__list">
                    <li class="list__item"><a class="item__footer" href="">Lager</a></li>
                    <li class="list__item"><a class="item__footer" href="">Ale</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vino tinto</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vino blanco</a></li>
                    <li class="list__item"><a class="item__footer" href="">Whisky</a></li>
                    <li class="list__item"><a class="item__footer" href="">Vodka</a></li>
                    <li class="list__item"><a class="item__footer" href="">Licores de frutas</a></li>
                    <li class="list__item"><a class="item__footer" href="">Licores herbales</a></li>
                </ul>
            </div>

            <div class="enlaces__categoriaProductos">
                <h2 class="categoriaProductos__title">Productos</h2>

                <ul class="categoriaProductos__list">
                    <li class="list__item"><a class="item__footer" href="">Recién Llegados</a></li>
                    <li class="list__item"><a class="item__footer" href="">Nuevos Productos</a></li>
                    <li class="list__item"><a class="item__footer" href="">Catalogos</a></li>
                    <li class="list__item"><a class="item__footer" href="">Los precios bajan</a></li>
                    <li class="list__item"><a class="item__footer" href="">Las mejores ventas</a></li>
                    <li class="list__item"><a class="item__footer" href="">Mapa del sitio</a></li>
                    <li class="list__item"><a class="item__footer" href="">Paquete y ahorro</a></li>
                    <li class="list__item"><a class="item__footer" href="">Tarjeta de regalo en línea</a></li>
                </ul>
            </div>

            <div class="enlaces__instalar">
                <h2 class="instalar__title">Instalar App</h2>

                <ul class="instalar__list">
                    <li class="list__item">Desde App Store o Google Play</li>
                </ul>

                <div class="instalar__flex">
                    <figure>
                        <img th:src="@{/Assets/Img/footer/app.jpg}" alt="">
                    </figure>
                    <figure>
                        <img th:src="@{/Assets/Img/footer/play.jpg}" alt="">
                    </figure>
                </div>

                <ul class="instalar__list">
                    <li class="list__item item--pagos">Pasarelas de Pago Seguras</li>
                </ul>

                <figure>
                    <img th:src="@{/Assets/Img/footer/pay.png}" alt="">
                </figure>
            </div>


        </div>

        <div class="instalar__copyright">
            <p class="copyright__text">© <span id="anio__pagina"></span>, Beer-E-ecommer - Todos los Derechos Reservados
                - Creado por <a href="#"><strong>Nosotros</strong></a></p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" th:src="@{/Js/productos.js}"></script>
</body>

</html>